@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

:root {
    --primary-color-1: #00D1FF;
    --primary-color-2: #323234;
    --lg-dark: linear-gradient(90deg, rgba(0, 209, 255, 1) 8%, rgba(17, 176, 211, 1) 28%, rgba(16, 167, 200, 1) 39%, rgba(13, 143, 171, 1) 64%);
    --lg-light: linear-gradient(90deg, rgba(13, 143, 171, 1) 8%, rgba(7, 102, 123, 1) 28%, rgba(6, 76, 91, 1) 64%);
    --others-1: #46DEFF;
    --others-2: #6DE5FF;
    --others-3: #B1F1FF;
    --others-4: #5D5D60;
    --others-5: #11B0D3;
    --others-6: #0D8FAB;
    --others-7: #064C5B;
    --others-8: #747477;
    --others-9: #5D5D60;
    --others-10: #AFAFB2;
    --light-color: #ECFCFF;
    --dark-color: #050404;
    --primary-light-color: #07667B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle, rgba(75, 75, 78, 1) 8%, rgba(50, 50, 52, 1) 48%, rgba(32, 32, 34, 1) 68%);
}

body.lightmode {
    background: #ECFCFF;
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-1);
    height: 20vh;
    border-radius: 20px;
}

html::-webkit-scrollbar-track {
    background-color: #636464;
}

span::selection {
    background-color: #636464;
}

h1::selection {
    background-color: #636464;
}

h2::selection {
    background-color: #636464;
}

h3::selection {
    background-color: #636464;
}

h4::selection {
    background-color: #636464;
}

h5::selection {
    background-color: #636464;
}

p::selection {
    background-color: #636464;
}

a::selection {
    background-color: #636464;
}

button::selection {
    background-color: #636464;
}

li::selection {
    background-color: #636464;
}

label::selection {
    background-color: #636464;
}

/* Lightmode */
body.lightmode span::selection {
    background-color: var(--others-1);
}

body.lightmode h1::selection {
    background-color: var(--others-1);
}

body.lightmode h2::selection {
    background-color: var(--others-1);
}

body.lightmode h3::selection {
    background-color: var(--others-1);
}

body.lightmode h4::selection {
    background-color: var(--others-1);
}

body.lightmode h5::selection {
    background-color: var(--others-1);
}

body.lightmode p::selection {
    background-color: var(--others-1);
}

body.lightmode a::selection {
    background-color: var(--others-1);
}

body.lightmode button::selection {
    background-color: var(--others-1);
}

body.lightmode li::selection {
    background-color: var(--others-1);
}

body.lightmode label::selection {
    background-color: var(--others-1);
}

#slidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px #121212;
    top: 0;
    transition: all .5s ease-in-out;
    left: -200px;
}

.head {
    color: #fff;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.head .profile .lightmode {
    display: none;
}

body.lightmode .head .profile .lightmode {
    display: block;
}

.head .profile img {
    width: 80px;
}

body.lightmode .head .profile img {
    display: none;
}

#btn {
    position: relative;
    left: 50px;
    height: auto;
}

#btn i {
    font-size: 28px;
    color: #fff;
}

body.lightmode #btn i {
    color: #000000;
}

#slidebar #nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-wrapper i {
    color: #fff;
}

body.lightmode .checkbox-wrapper i {
    color: #000000;
}

.checkbox-wrapper input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkbox-wrapper label {
    cursor: pointer;
    width: 50px;
    height: calc(50px / 2);
    background: #636464;
    display: block;
    border-radius: 100px;
    position: relative;
}

.checkbox-wrapper label:after {
    content: '';
    position: absolute;
    top: 6%;
    left: 3%;
    width: calc(50% - 5%);
    height: calc(100% - 15%);
    background: var(--others-2);
    border-radius: 90px;
    transition: 0.3s;
}

.checkbox-wrapper input:checked+label {
    background: var(--others-5);
}

.checkbox-wrapper input:checked+label::after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
}

.checkbox-wrapper label:active::after {
    width: 55%;
    color: #242324;
}

.desplegar {
    transform: translateX(100%);
    transition: all .5s ease-in-out;
}

#slidebar nav ul {
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    position: relative;
}

body.lightmode nav ul li a {
    color: #000000;
}

ul a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color-1);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

ul a:hover::before {
    transform: scaleX(1);
}

ul[data-animation="to-left"] a::before {
    transform-origin: left;
}

body.lightmode ul a::before {
    background-color: var(--primary-light-color);
}

/* Translate */
/* .selected-lang {
    cursor: pointer;
}

.translate {
    display: flex;
    line-height: 2;
    margin-left: 20px;
    height: 30px;
}

.translate img {
    width: 32px;
}

#lang-option {
    padding: 5px 5px;
    margin-left: 10px;
    background: transparent;
    border: 2px solid #00D1FF;
    border-radius: 10px;
    color: #fff;
}

#lang-option option {
    background: #161516;
    border: none;
} */

.social-media {
    position: fixed;
    display: none;
    align-items: center;
    height: 100%;
    right: 0;
}

.container-social-media ul {
    margin-right: 10px;
    list-style: none;
    position: static;
    text-align: center;
}

.container-social-media ul li a i {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.container-social-media ul li a i:hover {
    transition: all .3s;
    transform: rotate(15deg);
    scale: 1.2;
    color: var(--primary-color-1);
}

body.lightmode .container-social-media ul li a i {
    color: #000000;
}

body.lightmode .container-social-media ul li a i:hover {
    color: var(--primary-light-color);
}

#home {
    width: 100%;
    height: 100vh;
}

.wrapper-home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    justify-items: center;
}

.container-home-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: -30px;
}

body.lightmode .container-home-text {
    color: #000000;
}

.container-home-text h3 {
    font-size: 20px;
}

.container-home-text .name {
    font-size: 30px;
    background-clip: border-box;
    background: var(--lg-dark);
    -webkit-background-clip: text;
    color: transparent;
}

body.lightmode .container-home-text .name {
    background-clip: border-box;
    background: var(--lg-light);
    -webkit-background-clip: text;
    color: transparent;
}

.container-home-text h4 {
    font-size: 15px;
}

.container-home-text h4 span {
    color: var(--primary-color-1);
}

body.lightmode .container-home-text h4 span {
    color: var(--primary-light-color);
}

.container-home-text a {
    width: 60%;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    border: 2px solid var(--primary-color-1);
}

.container-home-text a:hover {
    transition: all .3s;
    scale: 1.05;
    color: #000000;
    background-color: var(--primary-color-1);
}

body.lightmode .container-home-text a {
    color: var(--primary-light-color);
    border: 2px solid var(--primary-light-color);
}

body.lightmode .container-home-text a:hover {
    color: #fff;
    background-color: var(--primary-light-color);
}

.container-home-img {
    text-align: center;
}

.container-home-img img {
    width: 90%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 30px 90px;
}

body.lightmode .container-home-img img {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 30px 90px;
}

#sobremi {
    width: 100%;
    height: 100vh;
}

.titulo {
    display: block;
    position: relative;
    font-size: 2em;
    color: grey;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below -14px linear-gradient(transparent, #0004);
}

body.lightmode .titulo {
    position: relative;
    font-size: 2em;
    color: var(--others-4);
    width: 100%;
    text-align: center;
}

.container-sobremi {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-sobremi {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 250px;
    justify-items: center;
}

.img-provisoria {
    width: 180px;
    height: 150px;
    background-color: #0064FF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body.lightmode .img-provisoria {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 50px 120px -20px, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px;
}

.wrapper-sobremi-text {
    padding-top: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

body.lightmode .wrapper-sobremi-text {
    color: #000000;
    font-weight: 600;
}

.wrapper-sobremi-text p {
    font-size: 15px;
}

.wrapper-sobremi-text p span {
    color: var(--primary-color-1);
}

body.lightmode .wrapper-sobremi-text p span {
    color: var(--primary-light-color);
}

.wrapper-sobremi-text .tit-fa {
    font-size: 17px;
}

.wrapper-sobremi-text .periodo {
    color: var(--primary-color-1);
}

body.lightmode .wrapper-sobremi-text .periodo {
    color: var(--primary-light-color);
}

#habilidades {
    width: 100%;
    height: 100vh;
}

.container-habilidades {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

body.lightmode .wrapper-habilidades {
    color: #000000;
}

.wrapper-habilidades .lenguajes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-habilidades .lenguajes h2 {
    font-size: 1.4em;
}

.wrapper-habilidades .lenguajes h3 {
    font-size: 14px;
}

.wrapper-habilidades .lenguajes .lenguajes-img {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    gap: 10px;
}

.lenguajes-img .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-habilidades .lenguajes .lenguajes-img .content i {
    font-size: 40px;
}

.wrapper-habilidades .herramientas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-habilidades .herramientas h2 {
    font-size: 1.4em;
}

.wrapper-habilidades .herramientas h3 {
    font-size: 14px;
}

.wrapper-habilidades .herramientas .herramientas-img {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 25px;
    justify-content: center;
    justify-items: center;
}

.wrapper-habilidades .herramientas .herramientas-img .content i {
    font-size: 40px;
}

.fa-html5 {
    color: #FF7200;
}

.fa-css3-alt {
    color: #00B1FF;
}

.fa-js {
    color: #FFD000;
}

.fa-database {
    color: #000000;
}

.fa-bootstrap {
    color: #9600FF;
}

.fa-figma {
    color: #00FF9E;
}

body.lightmode .fa-figma {
    color: #078025;
}

body.lightmode .fa-js {
    color: #C1980A;
}

.wrapper-habilidades .lenguajes .lenguajes-img .content p {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

.wrapper-habilidades .herramientas .herramientas-img .content p {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

#proyectos {
    width: 100%;
    height: 100vh;
}

.container-proyectos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.wrapper-cards {
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cards {
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #696969;
    box-shadow: 0px 17px 15px rgba(18, 18, 18, .6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.lightmode .cards {
    background-color: var(--others-8);
    border: 2px solid var(--others-9);
    box-shadow: 0px 20px 10px var(--others-10);
}

.cards .img-card {
    text-align: center;
}

.cards .img-card img {
    width: 90%;
    border-radius: 8px;
}

.cards .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards h3 {
    color: #121212;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.cards .card-body {
    margin-top: 8px;
}

.cards .card-body .links a {
    padding: 2px;
    background-color: var(--primary-color-1);
    border: 2px solid var(--primary-color-1);
    border-radius: 6px;
    color: #121212;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    font-size: 12px;
}

body.lightmode .cards .card-body .links a {
    background-color: var(--others-1);
    border: 2px solid var(--others-1);
}

.cards .card-body .links a:hover {
    background-color: var(--others-3);
    border: 2px solid var(--others-3);
}

body.lightmode .cards .card-body .links a:hover {
    background-color: var(--others-3);
    border: 2px solid var(--others-3);
}

.card-body button {
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    background-color: transparent;
    border: 0;
    font-size: 12px;
}

.card-body button:hover {
    text-decoration: underline;
}

.cards-info {
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    width: 240px;
    height: 200px;
    padding: 5px;
    font-size: 12px;
}

.full-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.full-img span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
}

.full-img h3 {
    color: #fff;
    margin-top: 20px;
    font-size: 40px;
}

footer {
    width: 100%;
    height: 200px;
}

footer .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .container-footer .footer-logo img {
    width: 80px;
}

footer .container-footer .footer-license {
    text-align: center;
    color: #fff;
}

body.lightmode footer .container-footer .footer-license {
    color: #000000;
}

.footer-license h4 {
    padding-bottom: 10px;
    font-size: 14px;
}

.footer-social-media ul {
    display: flex;
}

.footer-social-media ul li {
    margin: 5px;
    list-style: none;
}

.footer-social-media ul li a i {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

body.lightmode .footer-social-media ul li a i {
    color: #000000;
}

.footer-social-media ul li a i:hover {
    transition: all .3s;
    transform: rotate(15deg);
    scale: 1.2;
    color: var(--primary-color-1);
}

body.lightmode .footer-social-media ul li a i:hover {
    color: var(--primary-light-color);
}

@media screen and (min-width: 375px) {

    .titulo {
        font-size: 2em;
    }

    body.lightmode .titulo {
        font-size: 2em;
    }

    .wrapper-sobremi {
        grid-template-columns: 305px;
    }

    .img-provisoria {
        width: 100%;
        height: 180px;
        background-color: var(--primary-light-color);
    }

    .wrapper-cards {
        margin-top: 20px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 50px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 50px;
    }
}

@media screen and (min-width: 425px) {

    .wrapper-sobremi {
        grid-template-columns: 355px;
    }

    .img-provisoria {
        width: 285px;
        height: 180px;
        background-color: #0064FF;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 55px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 55px;
    }

    .wrapper-cards {
        grid-template-columns: 280px;
        gap: 10px;
        margin-top: 15px;
    }

    .cards .img-card img {
        width: 80%;
    }

    .cards .card-body h3 {
        font-size: 12px;
    }

    .cards-info {
        width: 300px;
        height: 250px;
        padding: 10px;
        font-size: 15px;
    }

    .lenguajes-tecnologias {
        font-size: 22px;
    }
}

@media screen and (min-width: 768px) {

    #home .wrapper-home {
        display: grid;
        grid-template-columns: 300px 300px;
        align-content: center;
    }

    .titulo {
        font-size: 3.1em;
        -webkit-box-reflect: below -24px linear-gradient(transparent, #0004);
    }

    body.lightmode .titulo {
        font-size: 3.1em;
        -webkit-box-reflect: below -14px linear-gradient(transparent, #0004);
    }

    .wrapper-sobremi {
        grid-template-columns: 349px 349px;
        align-items: start;
    }

    .wrapper-sobremi-text {
        padding: 0;
    }

    .wrapper-sobremi .img-provisoria {
        height: 250px;
    }

    .wrapper-habilidades .lenguajes h2 {
        font-size: 2em;
    }

    .wrapper-habilidades .lenguajes h3 {
        font-size: 18px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 60px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 60px;
    }

    .wrapper-habilidades .herramientas h2 {
        font-size: 2em;
    }

    .wrapper-habilidades .herramientas h3 {
        font-size: 18px;
    }

    .wrapper-cards {
        grid-template-columns: 230px 230px 230px;
        gap: 15px;
    }

    .cards .img-card img {
        width: 90%;
    }

    .cards h3 {
        font-size: 15px;
    }

    .cards .card-body .links a {
        padding: 3px;
        font-size: 15px;
    }

    .cards-info {
        width: 400px;
        height: 350px;
        font-size: 18px;
    }
    
    .lenguajes-tecnologias {
        margin-top: 20px;
        font-size: 25px;
    }
}

@media screen and (min-width: 1024px) {

    #slidebar {
        left: 0;
    }

    #btn {
        display: none;
    }

    .head .profile img {
        transition: all .3s;
    }

    .head .profile img:hover {
        scale: 1.2;
    }

    .container-home-text a {
        width: 50%;
    }

    .container-home-img img {
        width: 100%;
        margin-left: 50px;
    }

    .wrapper-sobremi {
        margin-left: 20px;
        max-width: 100%;
        grid-template-columns: 300px 320px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .wrapper-sobremi-text p {
        font-size: 14px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img {
        gap: 20px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 70px;
        transition: all .3s;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 70px;
        transition: all .3s;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content p {
        font-size: 16px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content p {
        font-size: 16px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i:hover {
        scale: 1.1;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i:hover {
        scale: 1.1;
    }

    .wrapper-cards {
        margin-left: 130px;
    }

    .cards:hover {
        scale: 1.05;
    }

    .cards-info {
        padding: 15px;
    }

    .footer-social-media {
        display: none;
    }

    .social-media {
        display: flex;
        z-index: 20;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1250px) {

    .wrapper-cards {
        margin-left: 0;
    }
}

@media screen and (min-width: 1440px) {

    .container-social-media ul li a i {
        font-size: 40px;
    }

    .container-home-text h3 {
        font-size: 30px;
    }

    .container-home-text .name {
        font-size: 55px;
    }

    .container-home-text h4 {
        font-size: 25px;
    }

    .container-home-text a {
        width: 35%;
    }

    #home .wrapper-home {
        grid-template-columns: 500px 400px;
    }

    .container-home-img {
        width: 100%;
        margin-left: 100px;
    }

    .container-home-img img {
        width: 120%;
        margin-left: 0;
    }

    .titulo {
        font-size: 5em;
        -webkit-box-reflect: below -35px linear-gradient(transparent, #0004);
    }

    body.lightmode .titulo {
        font-size: 5em;
        -webkit-box-reflect: below -35px linear-gradient(transparent, #0004);
    }

    .container-home-img img {
        width: 100%;
        margin-left: 50px;
    }

    .wrapper-sobremi {
        margin-top: 80px;
        grid-template-columns: 600px 640px;
    }

    .wrapper-sobremi-text p {
        font-size: 20px;
    }

    .wrapper-sobremi-text .tit-fa {
        font-size: 25px;
    }

    .wrapper-sobremi .img-provisoria {
        width: 400px;
        height: 350px;
    }

    .wrapper-habilidades .lenguajes h2 {
        font-size: 2.5em;
    }

    .wrapper-habilidades .lenguajes h3 {
        font-size: 22px;
    }

    .wrapper-habilidades .herramientas h2 {
        font-size: 2.5em;
    }

    .wrapper-habilidades .herramientas h3 {
        font-size: 22px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img {
        gap: 40px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 78px;
    }

    .wrapper-habilidades .herramientas .herramientas-img {
        gap: 60px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 78px;
    }

    .wrapper-cards {
        grid-template-columns: 350px 350px 350px;
        gap: 30px;
    }

    .cards {
        height: 280px;
        padding: 0 20px;
    }

    .cards .img-card img {
        width: 100%;
    }

    .cards .links {
        margin-top: 5px;
    }

    .cards h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .card-body button {
        font-size: 17px;
    }

    .cards .card-body .links a {
        padding: 4px;
        font-size: 18px;
    }

    .card-body a {
        margin-top: 15px;
    }

    .cards-info {
        width: 500px;
        height: 400px;
        font-size: 20px;
    }

    .lenguajes-tecnologias {
        font-size: 30px;
    }

    footer .container-footer .footer-logo img {
        width: 100px;
    }

    .footer-license h4 {
        padding-bottom: 10px;
        font-size: 18px;
    }
}