@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle, #404244, #323234, #242324, #161516, #000000);
}

/* Scroll Bar */
html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-thumb {
    background-color: #fff;
    height: 20vh;
}

html::-webkit-scrollbar-track {
    background-color: #636464;
}

span::selection {
    background-color: #636464;
}

h1::selection {
    background-color: #636464;
}

h2::selection {
    background-color: #636464;
}

h3::selection {
    background-color: #636464;
}

h4::selection {
    background-color: #636464;
}

h5::selection {
    background-color: #636464;
}

p::selection {
    background-color: #636464;
}

a::selection {
    background-color: #636464;
}

button::selection {
    background-color: #636464;
}

li::selection {
    background-color: #636464;
}

label::selection {
    background-color: #636464;
}

#slidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px black;
    top: 0;
    transition: all .5s ease-in-out;
    left: -200px;
}

.head {
    color: #fff;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.head .profile img {
    width: 80px;
}

#btn {
    position: relative;
    left: 50px;
    height: auto;
}

#btn i {
    font-size: 28px;
    color: #fff;
}

#slidebar #nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clase agregada por JS */
.desplegar {
    transform: translateX(100%);
    transition: all .5s ease-in-out;
}

/* Efecto hover del nav */
#slidebar nav ul {
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    position: relative;
}

ul a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00D1FF;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

ul a:hover::before {
    transform: scaleX(1);
}

ul[data-animation="to-left"] a::before {
    transform-origin: left;
}

/* Translate */
/* .selected-lang {
    cursor: pointer;
}

.translate {
    display: flex;
    line-height: 2;
    margin-left: 20px;
    height: 30px;
}

.translate img {
    width: 32px;
}

#lang-option {
    padding: 5px 5px;
    margin-left: 10px;
    background: transparent;
    border: 2px solid #00D1FF;
    border-radius: 10px;
    color: #fff;
}

#lang-option option {
    background: #161516;
    border: none;
} */

.social-media {
    position: fixed;
    display: none;
    align-items: center;
    height: 100%;
    right: 0;
}

.container-social-media ul {
    margin-right: 10px;
    list-style: none;
    position: static;
}

.container-social-media ul li a i {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.container-social-media ul li a i:hover {
    transition: all .5s linear;
    transform: rotateY(180deg);
    color: aqua;
}

/* Contenido del HOME */
#home {
    width: 100%;
    height: 100vh;
}

.wrapper-home {
    width: 100%;
    height: 100vh;
    display: grid;
    /*grid-template-columns: 600px 400px; pantalla desktop */
    grid-template-columns: 300px;
    justify-content: center;
    justify-items: center;
}

.container-home-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.container-home-text h3 {
    font-size: 20px;
}

.container-home-text h2 {
    font-size: 30px;
    background-clip: border-box;
    background: linear-gradient(90deg, rgba(0, 209, 255, 1) 27%, rgba(23, 93, 199, 1) 61%);
    -webkit-background-clip: text;
    color: transparent;
}

.container-home-text h4 {
    font-size: 15px;
}

.container-home-text h4 span {
    color: #17A7C7;
}

/* Animacion del emoji saludar */

.container-home-text h3 .emoji {
    cursor: pointer;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-name: rotation;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Animacion del cubo */
.box {
    position: relative;
    width: 125px;
    height: 125px;
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.box div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.box div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00D1FF);
    transform: rotateY(calc(90deg * var(--i))) translateZ(62.5px);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    transform: rotateX(90deg) translateZ(62.5px);
    background-color: #151515;
}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
    background-color: #00D1FF;
    transform: translateZ(-160px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 209, 255, 0.2),
        0 0 200px rgba(0, 209, 255, 0.4),
        0 0 300px rgba(0, 209, 255, 0.6),
        0 0 400px rgba(0, 209, 255, 0.8);
}

.box div span img {
    width: 80%;
}

#sobremi {
    width: 100%;
    height: 100vh;
}

.titulo {
    position: relative;
    font-size: 2em;
    color: grey;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below -14px linear-gradient(transparent, #0004);
}

.titulo span {
    animation: animate-title 5s linear infinite;
}

.titulo span:nth-child(even) {
    animation-delay: 0.4s;
}

@keyframes animate-title {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #494C4F;
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #85878b;
        text-shadow: 0 0 10px #515353,
            0 0 20px #515353,
            0 0 40px #515353,
            0 0 80px #515353,
            0 0 160px #515353;
    }
}

.container-sobremi {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-sobremi {
    list-style: none;
    display: grid;
    grid-template-columns: 250px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.wrapper-sobremi h2 {
    font-size: 1.3em;
    padding-bottom: 10px;
}

.wrapper-sobremi h4 {
    font-size: 1em;
    color: #17A7C7;
}

.wrapper-sobremi p {
    font-size: 11px;
}

#habilidades {
    width: 100%;
    height: 100vh;
}

.container-habilidades {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.wrapper-habilidades .lenguajes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-habilidades .lenguajes h2 {
    font-size: 1.4em;
}

.wrapper-habilidades .lenguajes h3 {
    font-size: 14px;
}

.wrapper-habilidades .lenguajes .lenguajes-img {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    gap: 10px;
}

.lenguajes-img .content {
    text-align: center;
}

.wrapper-habilidades .lenguajes .lenguajes-img .content i {
    font-size: 40px;
}

.wrapper-habilidades .herramientas {
    text-align: center;
}

.wrapper-habilidades .herramientas h2 {
    font-size: 1.4em;
}

.wrapper-habilidades .herramientas h3 {
    font-size: 14px;
}

.wrapper-habilidades .herramientas .herramientas-img {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 25px;
    justify-content: center;
    justify-items: center;
}

.wrapper-habilidades .herramientas .herramientas-img .content i {
    font-size: 40px;
}

/* Progress Bar */
.content li {
    list-style: none;
    color: white;
    margin: 20px 0;
    padding: 0;
}

.content li .head-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.content li .head-bar h5 {
    font-size: 10px;
}

.herramientas .content li .head-bar h5 {
    font-size: 10px;
    margin-left: 5px;
}

.bar {
    background: #5a5e66;
    display: block;
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.bar span {
    height: 10px;
    float: left;
}

.html {
    width: 100%;
    animation: html 3s;
    background-color: #ff9100;
}

.css {
    width: 90%;
    animation: css 3s;
    background-color: #00c3ff;
}

.js {
    width: 10%;
    animation: js 3s;
    background-color: #fffb00;
}

.sql {
    width: 25%;
    animation: sql 3s;
    background-color: #000000;
}

.bootstrap {
    width: 80%;
    animation: bootstrap 3s;
    background-color: #8c00ff;
}

.figma {
    width: 20%;
    animation: figma 3s;
    background-color: #26c965;
}

.github {
    width: 85%;
    animation: github 3s;
    background-color: #ffffff;
}

@keyframes html {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes css {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}

@keyframes js {
    from {
        width: 0%;
    }

    to {
        width: 10%;
    }
}

@keyframes sql {
    from {
        width: 0%;
    }

    to {
        width: 25%;
    }
}

@keyframes bootstrap {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

@keyframes figma {
    from {
        width: 0%;
    }

    to {
        width: 20%;
    }
}

@keyframes github {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}

#proyectos {
    width: 100%;
    height: 100vh;
}

.container-proyectos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.wrapper-cards {
    display: grid;
    /* grid-template-columns: 400px 400px 400px; dektop*/
    grid-template-columns: 250px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* gap: 30px; desktop*/
}

.cards {
    width: 100%;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #696969;
    box-shadow: 0px 20px 15px #1d1c1d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .img-card {
    text-align: center;
}

.cards .img-card img {
    width: 90%;
    border-radius: 5px;
}

.cards .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards .card-body h3 {
    font-size: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.cards .card-body a {
    padding: 2px;
    background-color: #00D1FF;
    border: 2px solid #00D1FF;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    font-size: 12px;
}

.cards .card-body a:hover {
    background-color: #fff;
    color: #000000;
    border: none;
}

#contacto {
    width: 100%;
    height: 100vh;
}

.container-contacto {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.content-contacto {
    display: grid;
    grid-template-columns: 300px;
    gap: 20px;
}

.wrapper-contacto,
.wrapper-datos-personales {
    height: 210px;
    background-color: #323234;
    color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #2a2a2b;
}

.wrapper-contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 5px 8px 8px 8px;
}

.wrapper-contacto form .p-top {
    grid-column: 1;
    grid-row: 1;
}

.wrapper-contacto form .p-mid-left {
    grid-column: 1;
    grid-row: 2;
}

.wrapper-contacto form .p-mid-right {
    grid-column: 2;
    grid-row: 2;
}

.wrapper-contacto form .block-top {
    grid-column: 1 / 3;
    grid-row: 3;
}

.wrapper-contacto form .block-bot {
    grid-column: 1 / 3;
    grid-row: 4;
}

.wrapper-contacto .val {
    font-size: 12px;
    padding-top: 5px;
    text-align: end;
    color: #888;
}

.wrapper-contacto form .p input,
textarea {
    width: 100%;
    height: 50%;
    border: none;
    background: none;
    border-bottom: 1px solid #00D1FF;
    outline: none;
    color: #fff;
}

.wrapper-contacto form .p textarea {
    height: 90%;
}

.input-data {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 13px;
    border-bottom: 2px solid #ccc;
}

.input-data input:focus~label,
.input-data input:valid~label {
    transform: translateY(-20px);
    font-size: 12px;
    bottom: 18px;
}

.input-data textarea:focus~label,
.input-data textarea:valid~label {
    transform: translateY(-30px);
    font-size: 12px;
}

.input-data label {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #777;
    transition: all 0.3s ease;
}


.wrapper-contacto form .p button {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border: 2px solid #00D1FF;
    border-radius: 20px;
    font-weight: 600;
    background-color: transparent;
    color: #00D1FF;
    font-size: 10px;
}

.wrapper-contacto form .p button:hover {
    background-color: #00D1FF;
    color: #323234;
    transition: all .5s;
}

.wrapper-contacto form .p input:focus,
textarea:focus {
    border-bottom: 2px solid #fff;
}

.wrapper-datos-personales .content-dp {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}

.wrapper-datos-personales .content-dp h3 {
    padding: 10px;
}

.wrapper-datos-personales .content-dp ul li {
    list-style: none;
    padding: 10px;
}

.wrapper-datos-personales .content-dp button {
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #00D1FF;
    border-radius: 20px;
    color: #00D1FF;
    margin: 10px;
}

.wrapper-datos-personales .content-dp button:hover {
    background-color: #00D1FF;
    color: #fff;
    transition: all .5s;
}

footer {
    width: 100%;
    height: 200px;
}

footer .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .container-footer .footer-logo img {
    width: 80px;
}

footer .container-footer .footer-license {
    text-align: center;
    color: #fff;
}

.footer-license h4 {
    padding-bottom: 10px;
    font-size: 14px;
}

.footer-social-media ul {
    display: flex;
}

.footer-social-media ul li {
    margin: 5px;
    list-style: none;
}

.footer-social-media ul li a i {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

.footer-social-media ul li a i:hover {
    transition: all .5s linear;
    transform: rotateY(180deg);
    color: aqua;
}

/* Breakpoints */
@media screen and (min-width: 375px) {

    #home .box {
        width: 150px;
        height: 150px;
    }

    .box div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
    }

    .top {
        transform: rotateX(90deg) translateZ(75px)
    }

    .top::before {
        width: 150px;
        height: 150px;
        transform: translateZ(-200px);
    }

    .titulo {
        font-size: 2.7em;
        -webkit-box-reflect: below -18px linear-gradient(transparent, #0004);
    }

    .wrapper-sobremi {
        margin-top: 10px;
    }

    .wrapper-sobremi h2 {
        font-size: 1.4em;
    }

    .wrapper-sobremi h4 {
        font-size: 1.2em;
    }

    .wrapper-sobremi p {
        font-size: 12px;
    }

    .wrapper-cards {
        margin-top: 20px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 50px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 50px;
    }
}

@media screen and (min-width: 425px) {

    #home .container-home-text {
        margin: 0 0 40px 0;
    }

    #home .box {
        width: 200px;
        height: 200px;
    }

    .box div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    }

    .top {
        transform: rotateX(90deg) translateZ(100px)
    }

    .top::before {
        width: 200px;
        height: 200px;
        transform: translateZ(-250px);
    }

    .titulo {
        font-size: 3em;
    }

    .wrapper-sobremi {
        margin-top: 20px;
        grid-template-columns: 350px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 55px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 55px;
    }

    .wrapper-cards {
        grid-template-columns: 280px;
        gap: 10px;
        margin-top: 15px;
    }

    .cards .img-card img {
        width: 80%;
    }

    .cards .card-body h3 {
        font-size: 12px;
    }

    .content-contacto {
        grid-template-columns: 350px;
    }

    .wrapper-contacto,
    .wrapper-datos-personales {
        height: 220px;
    }

    .wrapper-contacto {
        height: 290px;
    }

    .wrapper-contacto form .p {
        padding: 10px;
        font-size: 12px;
    }

    .input-data label {
        bottom: 30px;
        left: 10px;
    }

    .input-data input:focus~label,
    .input-data input:valid~label {
        transform: translateY(-30px);
    }
}

@media screen and (min-width: 768px) {

    #home .wrapper-home {
        display: grid;
        grid-template-columns: 300px 300px;
        align-content: center;
    }

    .titulo {
        font-size: 5em;
        -webkit-box-reflect: below -34px linear-gradient(transparent, #0004);
    }

    .wrapper-sobremi {
        margin-top: 20px;
        grid-template-columns: 500px;
    }

    .wrapper-sobremi h2 {
        font-size: 1.5em;
    }

    .wrapper-sobremi h4 {
        font-size: 1.3em;
    }

    .wrapper-sobremi p {
        font-size: 15px;
    }

    .wrapper-habilidades .lenguajes h2 {
        font-size: 2em;
    }

    .wrapper-habilidades .lenguajes h3 {
        font-size: 18px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 60px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 60px;
    }

    .wrapper-habilidades .herramientas h2 {
        font-size: 2em;
    }

    .wrapper-habilidades .herramientas h3 {
        font-size: 18px;
    }

    .wrapper-cards {
        grid-template-columns: 230px 230px 230px;
        gap: 15px;
    }

    .cards {
        height: 200px;
    }

    .cards .img-card img {
        width: 90%;
    }

    .cards .card-body h3 {
        font-size: 15px;
    }

    .cards .card-body a {
        padding: 3px;
        font-size: 15px;
    }

    .cards:hover {
        width: 240px;
        height: 210px;
    }

    .content-contacto {
        grid-template-columns: 500px;
    }

    .wrapper-contacto,
    .wrapper-datos-personales {
        height: 280px;
    }

    .wrapper-contacto form {
        height: 100%;
    }

    .wrapper-contacto form .p {
        padding: 10px;
        font-size: 15px;
    }

    .wrapper-contacto form .p button {
        padding: 6px;
        font-size: 15px;
    }

    .input-data input:focus~label,
    .input-data input:valid~label {
        transform: translateY(-25px);
        font-size: 13px;
    }

    .input-data label {
        font-size: 15px;
        left: 12px;
    }

    .wrapper-datos-personales .content-dp button {
        padding: 8px;
        font-size: 15px;
    }

    .wrapper-datos-personales .content-dp {
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) {

    .wrapper-sobremi {
        margin-top: 25px;
        grid-template-columns: 650px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img {
        gap: 20px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 70px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 70px;
    }

    .content-contacto {
        grid-template-columns: 450px 350px;
    }

    .wrapper-contacto,
    .wrapper-datos-personales {
        height: 350px;
    }

    .wrapper-contacto form .p {
        padding: 16px;
        font-size: 17px;
        height: 90px;
    }

    .wrapper-datos-personales .content-dp button {
        font-size: 17px;
    }

    .input-data input:focus~label,
    .input-data input:valid~label {
        transform: translateY(-35px);
        font-size: 13px;
    }

    .input-data label {
        font-size: 15px;
        left: 15px;
        bottom: 40px;
    }

    .wrapper-datos-personales .content-dp {
        margin-left: 2px;
        font-size: 17px;
    }

    .footer-social-media {
        display: none;
    }

    .social-media {
        display: flex;
        z-index: 20;
        margin-right: 10px;
    }

    .container-home-img {
        margin-left: 180px;
    }
}

@media screen and (min-width: 1440px) {

    .container-social-media ul li a i {
        font-size: 40px;
    }

    .container-home-text h3 {
        font-size: 30px;
    }

    .container-home-text h2 {
        font-size: 55px;
    }

    .container-home-text h4 {
        font-size: 25px;
    }

    #home .wrapper-home {
        grid-template-columns: 500px 400px;
    }

    #home .box {
        width: 300px;
        height: 300px;
    }

    .box div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    }

    .top {
        transform: rotateX(90deg) translateZ(150px);
    }

    .top::before {
        width: 300px;
        height: 300px;
        transform: translateZ(-350px);
    }

    .titulo {
        font-size: 7em;
        -webkit-box-reflect: below -50px linear-gradient(transparent, #0004);
    }

    .wrapper-sobremi {
        margin-top: 50px;
        grid-template-columns: 850px;
    }

    .wrapper-sobremi h2 {
        font-size: 2em;
    }

    .wrapper-sobremi h4 {
        font-size: 1.5em;
    }

    .wrapper-sobremi p {
        font-size: 20px;
    }

    .wrapper-habilidades .lenguajes h2 {
        font-size: 2.5em;
    }

    .wrapper-habilidades .lenguajes h3 {
        font-size: 22px;
    }

    .wrapper-habilidades .herramientas h2 {
        font-size: 2.5em;
    }

    .wrapper-habilidades .herramientas h3 {
        font-size: 22px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img {
        gap: 40px;
    }

    .wrapper-habilidades .lenguajes .lenguajes-img .content i {
        font-size: 78px;
    }

    .wrapper-habilidades .herramientas .herramientas-img {
        gap: 60px;
    }

    .wrapper-habilidades .herramientas .herramientas-img .content i {
        font-size: 78px;
    }

    .content li .head-bar h5 {
        font-size: 15px;
    }

    .herramientas .content li .head-bar h5 {
        font-size: 15px;
    }

    .bar {
        height: 10px;
    }

    .bar span {
        height: 15px;
    }

    .wrapper-cards {
        grid-template-columns: 350px 350px 350px;
        gap: 30px;
    }

    .cards {
        height: 250px;
        padding: 0 20px;
    }

    .cards .img-card img {
        width: 100%;
    }

    .cards .links {
        margin-top: 5px;
    }

    .cards .card-body h3 {
        font-size: 20px;
    }

    .cards .card-body a {
        padding: 4px;
        font-size: 18px;
    }

    .cards:hover {
        width: 360px;
        height: 260px;
    }

    .content-contacto {
        grid-template-columns: 550px 500px;
    }

    .wrapper-contacto,
    .wrapper-datos-personales {
        height: 400px;
    }

    .wrapper-contacto form {
        height: 100%;
    }

    .wrapper-contacto form .p {
        padding: 10px;
    }

    .wrapper-contacto form .p textarea {
        height: 100px;
        width: 100%;
    }

    .wrapper-contacto form .p button {
        padding: 6px;
    }

    .wrapper-datos-personales .content-dp button {
        padding: 6px;
    }

    .wrapper-contacto form .block-top {
        height: 100%;
    }

    .input-data input:focus~label,
    .input-data input:valid~label {
        transform: translateY(-38px);
    }

    .input-data textarea:focus~label,
    .input-data textarea:valid~label {
        transform: translateY(-70px);
    }

    .input-data label {
        font-size: 17px;
        left: 10px;
    }

    footer .container-footer .footer-logo img {
        width: 100px;
    }

    .footer-license h4 {
        padding-bottom: 10px;
        font-size: 18px;
    }
}