<section id="sobremi" class="w-full">
  <div
    id="container-sobremi"
    class="min-h-[90vh] flex flex-col items-center justify-center"
  >
    <h2
      id="titulo"
      class="font-semibold block relative text-[2em] w-full text-gray-400 text-center
      md:text-[3.1em] xl:text-[3.8em] dark:text-[#000005a4]"
    >
      SOBRE MI
    </h2>
    <br />
    <div
      id="wrapper-sobremi"
      class="mt-5 grid grid-cols-[300px] justify-items-center md:grid-cols-md md:items-start
    xl:grid-cols-xl"
    >
      <div
        id="foto-sobremi"
        class="shadow-5xl w-[80%] md:w-[85%] lg:w-[60%] xl:w-[70%]"
      >
        <img src="/assets/FotoAboutMe.webp" alt="Foto de Mayra Denot" />
      </div>
      <div
        id="wrapper-sobremi-text"
        class="pt-[10px] px-[15px] mt-[15px] md:px-0 text-[#fff] flex flex-col [&>p]:text-[13px] xl:[&>p]:text-[16px]
        [&>p>span]:text-[#00D1FF] dark:text-black dark:[&>p>span]:text-black
        dark:[&>p>span]:bg-[#00d0ff91]"
      >
        <p>
          Tengo 19 años y llevo 8 meses en el mundo del desarrollo web, soy una
          persona
          <span>responsable</span>, <span>detallista</span> y <span
            >curiosa</span>. En 2024 iniciaré la <span>Tecnicatura 
            Universitaria de Desarrollo de Aplicaciones
            Informáticas</span> (TUDAI) para obtener un perfil profesional y expandir mis
          conocimientos.
        </p>
        <br />
        <p id="tit-fa" class="text-[17px]">Formación Académica</p>
        <p id="periodo" class="text-[#00D1FF] dark:text-black">2017 - 2022</p>
        <p>
          Secundario completo: Colegio Argentino Danés Alta-Mira, Necochea,
          Prov. Bs. As, Argentina.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes show {
    0% {
      opacity: 0;
      scale: 25%;
    }
    100% {
      opacity: 1;
      scale: 100%;
    }
  }
  #foto-sobremi {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 30% cover 50%;
    animation-duration: 4s;
    animation-fill-mode: both;
  }
</style>
