<!-- 
#titulo {
  -webkit-box-reflect: below -14px linear-gradient(transparent, #0004);
}
-->
<section id="sobremi" class="w-full h-screen">
  <div id="container-sobremi" class="h-screen flex flex-col items-center content-center">
    <h2 id="titulo" class="block relative text-[2em] text-grey w-full text-center">
      <span>SOBRE</span>
      <span>MI</span>
    </h2>
    <br />
    <div id="wrapper-sobremi" class="mt-5 grid grid-cols-[250px] justify-items-center">
      <!-- <img src="" alt=""> -->
      <div id="img-provisoria" class="w-[180px] h-[150px] bg-[#0064FF] shadow-5xl"></div>
      <div id="wrapper-sobremi-text" class="pt-[10px] text-[#fff] flex flex-col [&>p]:text-[15px] [&>p>span]:text-[#00D1FF]">
        <p>
          Tengo 18 años y llevo 6 meses en el mundo del desarrollo web, soy una
          persona
          <span>responsable</span>, <span>perfeccionista</span> y <span
            >curiosa</span
          >. Mis hobbies son ver fútbol, escuchar música, ver películas y series
          y ver contenido de programación. Actualmente estoy estudiando y
          aprendiendo de forma autodidacta, pero en 2024 iniciaré la <span
            >Tecnicatura Universitaria de Desarrollo de Aplicaciones
            Informáticas</span
          > (TUDAI) para obtener un perfil profesional y expandir mis
          conocimientos.
        </p>
        <br />
        <p id="tit-fa" class="text-[17px]">Formación Académica</p>
        <p id="periodo" class="text-[#00D1FF]">2017 - 2022</p>
        <p>
          Secundario completo: Colegio Argentino Danés Alta-Mira, Necochea,
          Prov. Bs. As.
        </p>
      </div>
    </div>
  </div>
</section>
