---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div id="cards-info" class="w-60 h-[200px] p-[5px] bg-card-info text-[12px] text-[#fff] text-center rounded-[10px]">
  <h2 class="text-[40px] text-[#fff] mt-[20px]">{title}</h2>
  <br />
  <p>{description}</p>
</div>
