---
import NavHeader from "./NavHeader.astro";
---

<div id="container-header" class="flex justify-end md:justify-center">
  <header
    id="header"
    class="fixed w-[50vw] min-h-[30vh] text-[10px] flex-col md:mt-[20px] md:flex-row 
    md:text-[16px] md:w-[550px] md:min-h-[50px] mt-[10px] md:px-[15px] bg-[#242424] 
    border-2 border-[#ffffff8f] z-10 flex justify-center top-[-45vh] md:top-0
    rounded-[10px] md:rounded-[50px] md:items-center transition duration-500 px-[20px]
    py-[10px] ease-in-out dark:bg-body-light dark:border-black"
  >
    <div class="head text-[#fff] flex items-center">
      <div class="profile">
        <a href="/">
          <img
            class="w-[40px] transition duration-300 ease-in-out hover:scale-[1.2] dark:hidden"
            src="/assets/LogoPortafolio2.webp"
            alt="Logo MD"
            aria-label="Ir al inicio de página"
          />
        </a>
        <a href="/">
          <img
            class="w-[35px] hidden transition duration-300 ease-in-out hover:scale-[1.2] dark:block"
            src="/assets/LogoPortafolio.webp"
            alt="Logo MD"
            aria-label="Ir al inicio de página"
          />
        </a>
      </div>
    </div>
    <NavHeader />
  </header>
  <label
        id="btn"
        class="fixed top-[15px] right-[15px] h-auto z-10 md:hidden cursor-pointer"
        aria-label="Abrir y cerrar barra de navegación"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-menu-2 dark:stroke-black"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="#fff"
          fill="black"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 6l16 0"></path>
          <path d="M4 12l16 0"></path>
          <path d="M4 18l16 0"></path>
        </svg>
  </label>
</div>
