---
import IconHTML from "./IconHTML.astro";
import IconBS from "./IconBS.astro";
import IconCSS from "./IconCSS.astro";
import IconJS from "./IconJS.astro";
import IconTW from "./IconTW.astro";
import IconDB from "./IconDB.astro";
import IconFigma from "./IconFigma.astro";
import IconAstro from "./IconAstro.astro";
import IconBash from "./IconBash.astro";
---

<section id="home" class="w-full">
  <div
    id="wrapper-home"
    class="w-full min-h-[90vh] grid grid-cols-[300px] gap-[50px]
    content-center items-center justify-center justify-items-center 
    md:grid-cols-2md md:content-center lg:grid-cols-lg xl:grid-cols-xl"
  >
    <div
      id="container-home-text"
      class="text-[#fff] flex flex-col justify-center mb-[20px] lg:ml-[60px]"
    >
      <h3
        id="name"
        class="text-[30px] font-bold bg-name text-transparent bg-clip-text lg:text-[40px]
      xl:text-[50px] dark:bg-namelight selection:bg-[#63646467] leading-10 lg:leading-[50px] xl:leading-[70px]"
      >
        Mayra Andrea <br /> Denot
      </h3>
      <br />
      <h4
        class="text-[15px] xl:text-[20px] [&>span]:text-[#00D1FF] dark:[&>span]:text-black dark:[&>span]:bg-[#00d0ff91] dark:text-black"
      >
        <span>Desarrolladora web en proceso</span>, especializada en el <span
          >Front-End</span
        >, <span>autodidacta</span>.
      </h4>
      <br />
      <a
        class="w-[60%] text-[18px] no-underline text-center p-2 rounded-[10px] text-[#fff] border-2
      border-[#00D1FF] hover:transition hover:duration-300 hover:scale-105 hover:text-[#000000]
      hover:bg-[#00D1FF] dark:border-black dark:bg-black dark:hover:bg-[#00D1FF]
      dark:hover:border-[#00D1FF]"
        href="mailto:mayra.denot@gmail.com"
        target="_blank">Contáctame</a
      >
    </div>
    <div id="tecnologias" class="w-[90%] scale-110 md:w-full md:scale-75 xl:scale-90">
      <div
        class="grid grid-rows-3 grid-cols-3 gap-[10px] justify-items-center [&>div]:h-[70px] [&>div]:w-[70px]
          [&>div]:justify-center [&>div]:justify-items-center [&>div>svg]:h-[40px] [&>div>svg]:w-[40px] 
          [&>div]:rounded-[100px] [&>div]:bg-[#666565] md:[&>div>svg]:h-[60px] md:[&>div>svg]:w-[60px] 
          md:[&>div]:w-[90px] md:[&>div]:h-[90px] dark:[&>div]:bg-[#666565cc]"
      >
        <div class="content grid items-center row-start-1">
          <IconHTML />
        </div>
        <div class="content grid items-center row-start-1">
          <IconCSS />
        </div>
        <div class="content grid items-center row-start-1">
          <IconJS />
        </div>
        <div class="content grid items-center row-start-2">
          <IconDB />
        </div>
        <div class="content grid items-center row-start-2">
          <IconBS />
        </div>
        <div class="content grid items-center row-start-2">
          <IconFigma />
        </div>
        <div class="content grid items-center row-start-3">
          <IconBash />
        </div>
        <div class="content grid items-center row-start-3">
          <IconTW />
        </div>
        <div class="content grid items-center row-start-3">
          <IconAstro />
        </div>
      </div>
    </div>
  </div>
</section>
