<!-- 
-->
<section id="home" class="w-full h-screen">
  <div id="wrapper-home" class="w-full h-screen grid grid-cols-[300px] content-center items-center">
    <div id="container-home-text" class="text-[#fff] flex flex-col content-center ml-[20px] mb-[-30px]">
      <h3 id="name" class="text-[30px] bg-clip-border bg-[linear-gradient(90deg, rgba(0, 209, 255, 1) 8%, rgba(17, 176, 211, 1) 28%, rgba(16, 167, 200, 1) 39%, rgba(13, 143, 171, 1) 64%)]
      text-transparent -w-bg-clip-text">Mayra Andrea <br /> Denot</h3>
      <br />
      <h4 class="text-[15px] [&>span]:text-[#00D1FF]">
        <span>Desarrolladora web en proceso</span>, específicamente en la parte
        del <span>Front-End</span>,
        <span>autodidacta</span> y actual estudiante de Argentina Programa 4.0 (<span
          >Python</span
        >).
      </h4>
      <br />
      <a class="w-[60%] text-[18px] no-underline text-center p-2 rounded-[10px] text-[#fff] border-2 border-[#00D1FF] hover:transition hover:duration-300 
      hover:scale-105 hover:text-[#000000] hover:bg-[#00D1FF]" href="mailto:mayra.denot@gmail.com" target="_blank">Contáctame</a>
    </div>
    <div id="container-home-img" class="text-center">
      <img class="w-[90%] shadow-4xl" src="/assets/setup.webp" alt="Mi espacio de trabajo" />
    </div>
  </div>
</section>
