
<section id="home" class="w-full h-screen">
  <div id="wrapper-home" class="w-full h-screen grid grid-cols-[300px] justify-center justify-items-center md:grid-cols-2 
  md:content-center lg:grid-cols-lg xl:grid-cols-xl">
    <div id="container-home-text" class="text-[#fff] flex flex-col justify-center ml-[20px] mb-[-30px] lg:ml-[60px]">
      <h3 id="name" class="text-[30px] font-bold bg-name text-transparent bg-clip-text lg:text-[40px]
      xl:text-[50px] dark:bg-namelight">Mayra Andrea <br /> Denot</h3>
      <br />
      <h4 class="text-[15px] xl:text-[20px] [&>span]:text-[#00D1FF] dark:[&>span]:text-black dark:[&>span]:bg-[#00d0ff91] dark:text-black">
        <span>Desarrolladora web en proceso</span>, específicamente en la parte
        del <span>Front-End</span>,
        <span>autodidacta</span> y actualmente estudio Astro.
      </h4>
      <br />
      <a class="w-[60%] text-[18px] no-underline text-center p-2 rounded-[10px] text-[#fff] border-2
      border-[#00D1FF] hover:transition hover:duration-300 hover:scale-105 hover:text-[#000000]
      hover:bg-[#00D1FF] dark:border-black dark:bg-black dark:hover:bg-[#00D1FF] 
      dark:hover:border-[#00D1FF]" href="mailto:mayra.denot@gmail.com" target="_blank">Contáctame</a>
    </div>
    <div id="container-home-img" class="flex justify-center items-center lg:ml-[70px]">
      <img class="w-[90%] shadow-4xl lg:w-full dark:shadow-4xlight" src="/assets/setup.webp" alt="Mi espacio de trabajo" />
    </div>
  </div>
</section>
