<!-- 
.checkbox-wrapper input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.checkbox-wrapper input:checked+label {
  background: var(--others-5);
}
.checkbox-wrapper input:checked+label::after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
}
-->
<nav id="nav" class="h-full flex flex-col justify-center items-center">
  <ul class="list-none [&>li>a]:text-[20px] [&>li>a]:text-[#fff] [&>li>a]:no-underline [&>li>a]:relative [&>li>a]:font-semibold [&>li>a]:before:content-[''] 
    [&>li>a]:before:absolute [&>li>a]:before:bottom-[-5px] [&>li>a]:before:left-0 [&>li>a]:before:w-full [&>li>a]:before:h-[2px] [&>li>a]:before:bg-[#00D1FF] [&>li>a]:before:z-[1]
    [&>li>a]:before:transform [&>li>a]:before:scale-x-0 [&>li>a]:before:origin-left [&>li>a]:before:transition [&>li>a]:before:duration-500 [&>li>a]:before:ease-in-out
    [&>li>a]:hover:before:transform [&>li>a]:hover:before:scale-x-[1]">
    <li><a href="#home">HOME</a></li>
    <br />
    <li><a href="#sobremi">SOBRE MI</a></li>
    <br />
    <li><a href="#proyectos">PROYECTOS</a></li>
    <br />
    <li><a href="#habilidades">HABILIDADES</a></li>
    <br />
  </ul>
  <div class="checkbox-wrapper flex items-center gap-[10px]">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-moon"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="#fff"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
      ></path>
    </svg>
    <input
      type="checkbox"
      id="switch"
      class="only-of-type:checkbox:h-0 only-of-type:checkbox:w-0 checked:left-[calc(100% - 2.5%)] checked:transform checked:-translate-x-full"
    />
    <label
      for="switch"
      class="w-[50px] cursor-pointer h-[calc(50px / 2)] bg-[#636464] block rounded-[100px] relative after:active:w-[55%] after:active:text-[#242324] after:content-[''] after:absolute after:top-[6%] after:left-[3%] w-[calc(50% - 5%)] h-[calc(100% -15%)]
    after:bg-[#6DE5FF] after:rounded-[90px] after:transition after:duration-300"
    ></label>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-sun"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="#fff"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
      <path
        d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
      ></path>
    </svg>
  </div>
</nav>
