---
import CardsProjects from "./CardsProjects.astro";
import ModalDescript from "./ModalDescript.astro";
import IconHTML from "./IconHTML.astro";
import IconCSS from "./IconCSS.astro";
import IconJS from "./IconJS.astro";
import IconBS from "./IconBS.astro";
import IconTW from "./IconTW.astro";
import IconAstroProjects from "./IconAstroProjects.astro";
---

<section id="proyectos" class="w-full">
  <div
    id="container-proyectos"
    class="relative min-h-screen flex flex-col justify-center items-center mt-[50px] md:mt-0"
  >
    <h2
      class="titulo font-semibold block relative text-[2em] w-full text-gray-400 text-center
      md:text-[3.1em] xl:text-[3.8em] dark:text-[#000005a4]"
    >
      PROYECTOS
    </h2>
    <br>
    <div
      id="wrapper-cards"
      class="grid grid-cols-[250px] justify-center items-center gap-[15px] [&>div]:fixed [&>div]:top-0
      [&>div]:left-0 [&>div]:w-full [&>div]:h-full [&>div]:z-100 [&>div]:bg-full-img
      [&>div]:flex-col [&>div>span]:absolute [&>div>span]:top-[20px] [&>div>span]:right-[20px]
      [&>div]:items-center [&>div]:justify-center [&>div]:transition [&>div]:duration-300 [&>div>span]:text-[40px]
      [&>div>span]:text-[#fff] [&>div>span]:z-100 [&>div>span]:cursor-pointer [&>div>span]:font-bold md:grid-cols-p2
      md:grid-rows-2 xl:grid-cols-pxl"
    >
      <CardsProjects
        title="Marvel Web"
        src="../assets/ProyectoMarvel.webp"
        alt="Marvel Web"
        hrefgit="Marvel"
        hrefdep="webmarvel.vercel.app/"
        arialabel="Marvel"
      />
      <ModalDescript
        title="Marvel Web"
        description="Esta web brinda información para aquellos que no conozcan sobre el UCM (Universo Cinematográfico de Marvel), para conocer los personajes y quienes los interpretan, las películas y series, próximos estrenos y en que plataformas las pueden encontrar."
      >
        <IconHTML />
        <IconCSS />
        <IconJS />
        <IconBS />
      </ModalDescript>
      <CardsProjects
        title="Generador de contraseñas"
        src="../assets/generadordecontraseñas.webp"
        alt="Generador de contraseñas"
        hrefgit="passwordgenerator"
        hrefdep="maydenot.github.io/passwordgenerator.github.io/"
        arialabel="Generador de contraseñas"
      />
      <ModalDescript
        title="Generador de contraseñas"
        description="Esta web consta de un generador de contraseñas con distintas opciones, como elegir la longitud de tu constraseña y además es con fines educativos y a modo de práctica."
      >
        <IconHTML />
        <IconJS />
        <IconCSS />
      </ModalDescript>
      <CardsProjects
        title="Climatech"
        src="../assets/ProyectoClimatech.webp"
        alt="Web del clima"
        hrefgit="Climatech"
        hrefdep="climatechweb.vercel.app/"
        arialabel="Climatech"
      />
      <ModalDescript
        title="Climatech"
        description="Este proyecto brinda información meteorológica a traves de la API extraída de OpenWeatherMap. Gracias a esta web aprendi como extraer API's."
      >
        <IconHTML />
        <IconJS />
        <IconCSS />
      </ModalDescript>
      <CardsProjects
        title="Blog de maydev"
        src="../assets/ProyectoBlog.webp"
        alt="Blog maydev"
        hrefgit="blog-maydev"
        hrefdep="blog-maydev.vercel.app/"
        arialabel="Blog maydev"
      />
      <ModalDescript
        title="Blog maydev"
        description="Este proyecto consta de un blog personal, el cual brinda información sobre programación, hardware, entre otras cosas."
      >
        <IconAstroProjects/>
        <IconTW />
        <IconJS />
      </ModalDescript>
    </div>
  </div>
</section>
