<div class="checkbox-wrapper flex items-center gap-[10px] ml-[20px]">
  <label id="switch" class="text-[17px] relative inline-block w-10 lg:w-14 h-7">
    <input id="btn-theme" type="checkbox" class="opacity-0 w-0 h-0 peer"/>
    <span
      id="slider"
      class="absolute border-2 cursor-pointer top-0 left-0 right-0 bottom-0 transition 
      duration-500 rounded-[30px] before:absolute before:content-[''] before:h-[17px] 
      before:w-[17px] before:rounded-[50%] before:left-[4px] before:bottom-[4px] before:transition
      before:duration-500 peer-checked:before:transform peer-checked:before:translate-x-full 
      before:shadow-moon peer-checked:before:bg-[#00D1FF] peer-checked:before:shadow-none
      peer-checked:before:left-[.20px] lg:peer-checked:before:left-[15px] peer-checked:before:bottom-[3px] 
      md:peer-checked:before:bottom-[3.5px] dark:peer-checked:before:bg-black dark:border-black"
    ></span>
  </label>
</div>
