<div class="checkbox-wrapper flex items-center gap-[10px]">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-moon"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="#fff"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
    ></path>
  </svg>
  <label id="switch" class="text-[17px] relative inline-block w-14 h-8">
    <input type="checkbox" class="opacity-0 w-0 h-0 peer" />
    <span
      id="slider"
      class="bg-[#636464] absolute cursor-pointer top-0 left-0 right-0
  bottom-0 transition duration-500 rounded-[30px] before:absolute before:content-['']
  before:h-[1.4em] before:w-[1.4em] before:rounded-[50%] before:left-[10%] before:bottom-[12%]
  before:bg-[#00D1FF] before:transition before:duration-500 peer-checked:before:transform
  peer-checked:before:translate-x-full"
    ></span>
  </label>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-sun"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="#fff"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
    <path
      d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
    ></path>
  </svg>
</div>