---
import "@fontsource/poppins";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/IconoPortafolio2.ico" type="image/x-icon" />
    <title>Mayra Denot | Portafolio</title>
    <ViewTransitions />
  </head>
  <body
    class="font-sans bg-gradient-body selection:bg-[#636464] dark:bg-body-light">
    <slot />
  </body>
</html>

<style is:global>
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  .desplegar {
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
  }
  html::-webkit-scrollbar {
    width: 12px;
  }

  html::-webkit-scrollbar-thumb {
    height: 20vh;
    border-radius: 20px;
    background-color: #b1f1ff91;
  }

  html::-webkit-scrollbar-track {
    background-color: #636464;
  }
</style>

<script type="module">
  const btnBar = document.getElementById("btn");
  const slideBar = document.getElementById("slidebar");

  btnBar.addEventListener("click", () => {
    slideBar.classList.toggle("desplegar");
  });

  const btnTheme = document.getElementById("btn-theme");

  btnTheme.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
  });
</script>
